<header class="section-t-space fixed-header" style="background:#7030fe; padding-bottom: 20px;" [hidden]="virtualRouter.routerActive!='home' && virtualRouter.routerActive!='chats'">
  <div class="custom-container">
    <div class="header-panel">
      <a class="sidebar-btn" data-bs-toggle="offcanvas" data-bs-target="#offcanvasLeft">
        <i class="menu-icon" data-feather="menu"></i>
      </a>
      <img class="img-fluid logo" src="assets/mpay/images/logo/logo3.png" alt="logo" />

      <!-- <a href="notification.html" class="notification">
        <i class="notification-icon" data-feather="user"></i>
      </a> -->
      <div class="dropdown">
        <a  class="back-btn" role="button" data-bs-toggle="dropdown">
          <i class="icon" data-feather="user"></i>
        </a>

        <ul class="dropdown-menu">
          <li><a class="dropdown-item" (click)="global.setRoute('profile')" style="cursor: pointer;">Profle</a></li>
          <li><a class="dropdown-item" >Settings</a></li>
          <li><a class="dropdown-item" (click)="global.setRoute('login')" style="cursor: pointer;">Log out</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>