<div class="container" style="padding-top: 66px ; max-width: 100%;">
    <div class="background-image" style="margin-bottom: 5px;"></div>
    <div class="bottom-left">
      <span style="font-weight: bold; font-size: 22px; color: #622cfd; ">
        370 Points 
      </span>
      <img src="assets/mpay/images/person/p3.png" alt="Persona Izquierda"> 
      <span style="font-size: 18px;"> Daniela Agudelo </span>
     
    </div>
    <div class="top-center" style="margin-top: -2%;" >
        <span style="font-weight: bold; font-size: 22px; color: #622cfd; ">
          420 Points 
        </span>
        <img src="assets/mpay/images/person/p2.png" alt="Persona Central"  >  
        <span style="font-size: 18px;">Survana Williams  </span>
      </div>
     
    <div class="bottom-right" >
      <span style="font-weight: bold; font-size: 22px; color: #622cfd; ">
        250 Points 
      </span>
      <img src="assets/mpay/images/person/p4.png" alt="Persona Derecha">  

        <span style="font-size: 18px;"> Jacob Misraha </span>
    </div>
    
  </div>
  